/*
============
Global styles
============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #262626;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-bottom: #c0c0c0 solid 1px;
}

main {
  min-height: 60vh;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border-top: #c0c0c0 solid 1px;
}

/*
============
Main content
============
*/

main > h2 {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.note__add__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__output {
  margin: 0 auto;
  padding-top: 2rem;

  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__output > h4 {
  text-align: center;
}
.note__item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: #c0c0c0 solid 1px;
}
.note__item > button {
  margin-left: 1rem;
}

.deleteNoteBtn {
  background-color: red;
}
