body {
    margin:0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top:0;
    background-color: #f4f4f4;
    margin: 0 auto;
    border-bottom: 1px #ccc solid;
    margin-bottom: 1rem;
    text-align: center;
    padding:2rem;
}

main {
    margin: 0 auto;
    text-align: center;
}

ul {
    margin: 0 auto;
    padding: 0;
}

.inputForm{
    display: block;
    padding: 2rem;
}

.newItem {
    width: 100%;
    display: block;
    margin: 0 auto;
    list-style: none;
    padding: 2rem;
    border: #ccc 1px solid;
    text-align: center;
}