* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-card {
  border: #808080 solid 1px;
  border-radius: 0.5rem;
  padding: 3rem;

  max-width: 450px;
}

.task-card h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.task-form {
  margin-bottom: 1rem;
  border-bottom: #3f3f3f solid 1px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.task-form input {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.add-btn {
  background: #238ee6;
  color: #fff;
  padding: 0.5rem;
  border: #808080 solid 1px;
  border-radius: 0.25rem;
}

.add-btn:hover {
  cursor: pointer;
}

.task-item {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  margin-top: 1rem;
  border: #acacac solid 1px;
  border-radius: 0.25rem;
  padding: 1rem;
  padding-bottom: 0.5rem;
}

.delete-btn {
  background: rgb(224, 90, 90);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: #808080 solid 1px;
  border-radius: 0.25rem;
}

.delete-btn:hover {
  cursor: pointer;
}
