/*
============
Global styles
============
*/

/* 
notes from sketching
 1). gray:  #dbdbdb   onFocus:  #9c9c9c
 2). gray text: #353535

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #353535;
}

header {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* padding: 2rem 0; */
  border-bottom: #d6d6d6 solid 1px;
}

main {
  min-height: 60vh;
  padding: 2rem 0;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border-top: #c0c0c0 solid 1px;
}

.wrapper {
  padding: 2rem;
}
/*
============
Header
============
*/

header > h1 {
  font-size: 9rem;
  padding: 0.5rem 0;
}
.dateToday {
  display: block;
}

@media screen and (max-width: 500px) {
  header > h1 {
    font-size: 5rem;
    padding: 0.5rem 0;
  }
}
/*
============
Main content
============
*/

.note__add__container {
  margin: 1rem 0;
}
.note__add__container > label {
  font-size: 2rem;
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}
.note__input {
  cursor: cell;
  border: none;
  padding: 0;
  border-bottom: #dbdbdb solid 1px;
  width: 80vw;
  margin-right: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .note__input {
    width: 60vw;
  }
}
.note__input:focus {
  border: none;
  outline: none;
  border-bottom: #9c9c9c solid 1px;
}
.add__btn {
  cursor: pointer;
  background: none;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  border: #c0c0c0 solid 1px;
  border-radius: 0.25rem;
}

.form__output {
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.notes__output > * {
  list-style-type: none;
  margin: 1rem 0;
}

.form__output > h2 {
  font-size: 2rem;
  font-weight: 600;
}
.note__item {
  margin: 1rem 0;
  padding: 1rem 0;
  font-size: 2rem;
  border-bottom: #c0c0c0 solid 1px;
}
.note__item > input {
  color: #9c9c9c;
  border: none;
  padding: 0;
  width: 80vw;

  font-size: 2rem;
}
.note__item > input:disabled {
  background: none;
}
.note__item > input:enabled {
  color: #353535;
}
.note__item > input:focus {
  /* background-color: red; */
  outline: #353535;
}

.btnContainer > button {
  margin-top: 1rem;
  color: #353535;
  cursor: pointer;
  background: none;
  border: #c0c0c0 solid 1px;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.btnContainer > .deleteNoteBtn {
  /* background-color: rgba(241, 68, 24, 0.9); */
  margin-left: 0.5rem;
}
