/* 1) Add Reset */

* {
  /* 1)  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  /* padding: 0; */
  /* margin: 0; */
}
.nav-list {
  display: flex;
  /* justify-content: space-around; */
  list-style: none;
}
.nav-list li {
  margin-right: 2rem;
}
.nav-list li a {
  text-decoration: none;
}
main {
  margin-top: 4rem;
}
