/*
============
Global styles
============
*/

/* 
notes from sketching
 1). gray:  #dbdbdb   onFocus:  #9c9c9c
 2). gray text: #353535

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /* color: #262626; */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /* color: #262626; */
  /* background-color: #353535; */
}

header {
  width: 100%;
  display: flex;
  border-bottom: #d6d6d6 solid 1px;
}

main {
  min-height: 60vh;
  padding: 2rem 0;
}

footer {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  border-top: #c0c0c0 solid 1px;
}

.wrapper {
  padding: 2rem;
}
/*
============
Header
============
*/

header > h1 {
  font-size: 9rem;
  padding: 0.5rem 0;
}
.dateToday {
  display: block;
}

@media screen and (max-width: 500px) {
  header > h1 {
    font-size: 5rem;
    padding: 0.5rem 0;
  }
}
/*
============
Main content
============
*/

.note__add__container {
  margin: 1rem 0;
}
.note__add__container > label {
  font-size: 2rem;
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}

.note__input {
  cursor: cell;
  border: none;
  padding: 0;
  border-bottom: #dbdbdb solid 1px;
  width: 80vw;
  margin-right: 1rem;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .note__input {
    width: 60vw;
  }
}
.note__input:focus {
  border: none;
  outline: none;
  border-bottom: #9c9c9c solid 1px;
}
.add__btn {
  cursor: pointer;
  background: none;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  border: #c0c0c0 solid 1px;
  border-radius: 0.25rem;
}

.form__output {
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.notes__output > * {
  list-style-type: none;
  margin: 1rem 0;
}

.form__output > h2 {
  font-size: 2rem;
  font-weight: 600;
}
.note__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem 0;
  font-size: 2rem;
  border-bottom: #c0c0c0 solid 1px;
}
.note__item > input {
  border: none;
  flex-wrap: wrap;
  padding: 0;
  width: 80vw;
  font-size: 2rem;
}
.note__item > input:disabled {
  background: none;
}
.note__item > input:enabled {
  color: #f54b20;
}
.note__item > input:focus {
  outline: #353535;
}

.btnContainer {
  margin-top: 2rem;
}

.btnContainer > button {
  cursor: pointer;
  background: none;
  border: #c0c0c0 solid 1px;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
}

.btnContainer > .progress {
  margin-right: 1rem;
}
.btnContainer > .deleteNoteBtn {
  background-color: #f54b20;
  color: #f4f4f4;
  margin-left: 1rem;
}
@media screen and (max-width: 600px) {
  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .btnContainer > * {
    margin-top: 0.25rem;
    padding: 0;
  }
  .btnContainer > .deleteNoteBtn {
    margin: 0;
    margin-top: 0.25rem;
  }
}

/*
========================
Toggle Classes
========================
*/

.completed {
  text-decoration: line-through;
  color: #9c9c9c !important;
}

.hidden {
  display: none;
}
