/* 1) Add to Reset 
  margin:0;
  padding:0;
*/
/* 2) body - background-color: *your pick* */
/* 3) body - font-family: *you pick* ;
/* 4) section - margin-bottom: 2rem */
/* 5) nav - margin-bottom: 1rem */
/* 6) .nav-list li - margin-right: 2rem;
/* 7).intro-section - text-align: center; */
/* 8) .projects-section - padding: 1rem 0;
/* 9) .project-card - margin-bottom: 1rem;
/* 10) .project-section h2 -text-align: center;

/* RESET */
* {
  /* 1) ADD HERE*/
  box-sizing: border-box;
}

body {
  /* 2) & 3) ADD HERE */
  color: #313313;
}
.wrapper {
  padding: 1rem;
}

section {
  /* 4) ADD HERE */
}
nav {
  top: 0;
  width: 100%;
  /* 5) ADD HERE */
}
.nav-list {
  list-style: none;
}
.nav-list li {
  /* 6) ADD HERE */
}
.nav-list li a {
  text-decoration: none;
  color: #313313;
}
main {
}

.intro-section {
  min-height: 50vh;
  padding-top: 5rem;
  /* 7) text-align: center; */
}
.project-section h2 {
  text-align: center;
}

.project-section {
  /* 8) ADD HERE */
}
.project-card {
  margin-bottom: 1rem;
}
.about-section {
  /* 9) ADD HERE */
}

.about-section h2 {
  /* 10) ADD HERE */
}

.about-section img {
  margin: 0 auto;
}

.img-container {
  text-align: center;
}

.contact-section h2 {
  text-align: center;
}
