* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  /* background-color: #c4c4c4; */
  /* background-color: #fff;
  background-size: 100% 1.2em;
  background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: -ms-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -ms-linear-gradient(#eee .05em, transparent .05em);
  background-image: -o-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -o-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em); */
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
.heading__main {
  margin-bottom: 1rem;
}
.kanban {
  display: flex;
  padding: 2rem;
  width: 750px;
  background: hsl(202, 100%, 65%);
  border-radius: 0.25rem;
}

.kanban__column {
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-right: 2rem;
}

.kanban__column-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #fff;
  user-select: none;
}

.kanban__item {
  /* margin-bottom: 0.25rem; */
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 0.25rem;
}

.kanban__item-input {
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
}

.kanban__dropzone {
  border-radius: 0.25rem;
  height: 0.75rem;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 1.5rem;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
