* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  /* background-color: #c4c4c4; */
  /* background-color: #fff;
  background-size: 100% 1.2em;
  background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: -ms-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -ms-linear-gradient(#eee .05em, transparent .05em);
  background-image: -o-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -o-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em); */
  background-color: rgb(255, 244, 233);
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(205, 205, 205) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(205, 205, 205) 1px, transparent 1px);
}
.heading__main {
  margin-bottom: 1rem;
  font-size: 4rem;
}
.kanban {
  display: flex;
  padding: 2rem 0;
  min-width: 700px;
  /* width: 750px; */
  /* background: rgba(77, 190, 255, 0.9); */
  background: rgb(77, 190, 255);
  border-radius: 0.25rem;
}

.kanban__column {
  flex: 1;
  padding: 1rem;
}

.kanban__column:not(:last-child) {
  /* padding-right: 0.5rem;
  margin-right: 0.5rem; */
  border-right: #fff solid 1px;
}

.kanban__column-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #fff;
  user-select: none;
}

.kanban__item {
  /* margin-bottom: 0.25rem; */
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 0.25rem;
}

.kanban__item-input {
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: 0.25rem;
  cursor: pointer;
}

.kanban__dropzone {
  border-radius: 0.25rem;
  height: 0.75rem;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 1rem;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .kanban {
    flex-direction: column;
    background-color: transparent;
  }
  .kanban__column {
    background: rgb(77, 190, 255);
    border-radius: 0.25rem;
    padding: 3rem;
  }
  .kanban__column:not(:last-child) {
    border-right: none;
    border-bottom: #fff solid 1px;
    /* padding: 2rem 0; */
    margin-bottom: 1rem;
  }
}
