body {
  font-family: Arial, Helvetica, sans-serif;
}

.kanban {
  display: flex;
  padding: 2rem;
  width: 750px;
  background: #75dfff;
  border-radius: 0.5rem;
}

.kanban__column {
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-right: 2rem;
}

.kanban__column-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #fff;
  user-select: none;
}
