/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #292929;
}
/* ////////////////////////// */
/* Global */
/* ////////////////////////// */

html {
  scroll-behavior: smooth;
}
body {
  /* font-family: Helvetica, Arial, sans-serif; */

  font-family: "Didact Gothic", sans-serif;
  background-color: rgb(73, 195, 243);
  color: #292929;
}
.wrapper {
}

@media screen and (min-width: 1000px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.container {
  padding: 1rem;
}

.section-container {
  padding: 7rem 1rem;
  padding-bottom: 2rem;
  min-height: 400px;
}

/* ////////////////////////// */
/* Nav */

nav {
  background-color: rgb(73, 195, 243);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav a:hover {
  color: #eeeeee;
}

.nav-list {
  display: flex;
}

.nav-list li {
  margin-right: 2rem;
}
.nav-list li a:hover {
  color: #eeeeee;
}
.nav-list li:last-child {
  margin-right: 0;
}

/* ////////////////////////// */
/* HERO */

.hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.hero h1 {
  color: #fff;
  font-size: 4rem;
}

@media screen and (min-width: 600px) {
  .hero h1 {
    color: #fff;
    font-size: 6rem;
  }
}

/* ////////////////////////// */
/* PROJECTS */
.projects-container {
  /* padding: 7rem 1rem;
  padding-bottom: 2rem; */
}

section h2 {
  color: #fff;
  font-size: 2rem;
}

@media screen and (min-width: 500px) {
  section h2 {
    color: #fff;
    font-size: 3rem;
  }
}

.project-card {
  margin: 4rem 0;
  padding-top: 1rem;
}
.project-card:first-of-type {
  margin-top: 2rem;
  padding-top: 1rem;
}

.project-card h3 {
  color: #fff;
}
.project-text {
  max-width: 90%;
}

.project-card a img {
  max-width: 90%;
  margin: 2rem auto;
  border-radius: 0.25rem;
}
.project-card a {
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 7rem 0;
  }
  .project-card a img {
    margin: 0 auto;
  }
}

/* ////////////////////////// */
/* About */

.about-info {
  max-width: 95%;
}

@media screen and (min-width: 700px) {
}

/* ////////////////////////// */
/* Footer */

.footer-container {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1rem;
}

@media screen and (min-width: 700px) {
  .footer-container {
    width: 100%;
    flex-direction: row;
  }
}
